# =========================
# Unreal Engine
# =========================

Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Build files
*.VC.db
*.VC.opendb

# Logs
*.log

# Crash dumps
*.dmp

# Operating System
.DS_Store
Thumbs.db